<div>

    <h3>Search Result <small><a href="" ng-click="changeView('search')"> <i class="fa fa-reply"></i> Back to Search</a></small></h3>

    <div ng-show="loading">
        <img src="/images/ajax-loader.gif" class="center-block" />
    </div>

    <div class="details_title">
        <h2>{{details.fullName}}</h3>
        <hr>
    </div>
    <div class="details_content">
        <table class="table table-striped">
            <tr>
                <td>Title </td>
                <td>{{details.Title}}</td>
            </tr>
            <tr>
                <td>First Name </td>
                <td>{{details.UserFirstName}}</td>
            </tr>
            <tr>
                <td>Surname </td>
                <td>{{details.UserSurname}}</td>
            </tr>
            <tr>
                <td>Date of Birth </td>
                <td>{{details.UserDoB}}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{details.Gender}}</td>
            </tr>
            <tr>
                <td>Current Address </td>
                <td>{{details.CurrentAddress}}</td>
            </tr>
            <tr>
                <td>Current City </td>
                <td>{{details.CurrentCity}}</td>
            </tr>
            <tr>
                <td>Current Region </td>
                <td>{{details.CurrentRegion}}</td>
            </tr>
            <tr>
                <td>Current Postcode </td>
                <td>{{details.CurrentPostcode}}</td>
            </tr>
            <tr>
                <td>Telephone Mobile </td>
                <td>{{details.TelephoneMobile}}</td>
            </tr>
            <tr>
                <td>Telephone Home </td>
                <td>{{details.TelephoneHome}}</td>
            </tr>
            <tr>
                <td>Email </td>
                <td>{{details.Email}}</td>
            </tr>
            <tr>
                <td>Is UK Resident? </td>
                <td>{{details.UKResident}}</td>
            </tr>
            <tr>
                <td>Salary </td>
                <td>{{details.Salary}}</td>
            </tr>
            <tr>
                <td>Mortgage Term </td>
                <td>{{details.MortgageTerm}}</td>
            </tr>
            <tr>
                <td>Mortgage Amount </td>
                <td>{{details.MortgageAmount}}</td>
            </tr>
            <tr>
                <td>Mortgage Type </td>
                <td>{{details.MortgageType}}</td>
            </tr>
            <tr>
                <td>Residential Status </td>
                <td>{{details.ResidentialStatus}}</td>
            </tr>
            <tr>
                <td>Nationality </td>
                <td>{{details.Nationality}}</td>
            </tr>
            <tr>
                <td>Marital Status</td>
                <td>{{details.MaritalStatus}}</td>
            </tr>
            <tr>
                <td>Seller ID </td>
                <td>{{details.SellerID}}</td>
            </tr>
        </table>
        <button class="btn btn-lg btn-primary" ng-click="analyzeText()" ng-disabled="analyzing">Analyze</button>

        <img ng-show="analyzing" src="/images/watson.gif" alt="Analyzing" />
    </div>

</div>